<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd Store</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <a href="./index.html">
            <img class="header__logo" src="../img/logo.png" alt="logo de la tienda">
        </a>
    </header>

    <nav class="navegacion">
        <a class="navegacion__enlace" href="../index.html">Tienda</a>
        <a class="navegacion__enlace navegacion__enlace--activo" href="#">Nosotros</a>
    </nav>
    <main class="contenedor">
        <h1>Nosotros</h1>
        <div class="nosotros">
            <div class="nosotros__contenido">
                <p>Suspendisse nulla eros, hendrerit vitae luctus vel, dictum a justo. Etiam vestibulum mi ac gravida lacinia. Nunc faucibus lobortis ex vel pretium. Etiam eu sollicitudin sem. Sed luctus nunc at augue dignissim sodales. Nullam egestas convallis diam ac bibendum. Vivamus ut massa congue nulla auctor fermentum non eu turpis. Quisque varius eleifend elementum. Donec convallis metus et eros mollis, vel eleifend justo condimentum.</p>
                <p>Phasellus id augue eu justo porta auctor. Sed ac auctor elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent nec blandit nibh. Suspendisse bibendum vulputate dui, nec convallis tellus iaculis vel. Phasellus consectetur magna ut ipsum scelerisque sodales. Morbi aliquet justo et sem maximus viverra. </p>
            </div>
            <img src="../img/nosotros.jpg" alt="imagen nosotros" class="nosotros__imagen">
        </div>
    </main>
    <section class="contenedor comprar">
        <h2 class="comprar__titulo">
            ¿Porqué comprar con nosotros?
        </h2>

<!-- bloques -->
        <div class="bloques">
<!-- bloque -->
            <div class="bloque">
                <img  class="bloque__imagen" src="../img/icono_1.png" alt="porque comprar">
                <h3 class="bloque__titulo">El mejor precio</h3>
                <p>Suspendisse nulla eros, hendrerit vitae luctus vel, dictum a justo.</p>
            </div>
<!-- bloque -->
            <div class="bloque">
                <img  class="bloque__imagen" src="../img/icono_2.png" alt="porque comprar">
                <h3 class="bloque__titulo">Para devs</h3>
                <p>Suspendisse nulla eros, hendrerit vitae luctus vel, dictum a justo.</p>
            </div>
<!-- bloque -->
            <div class="bloque">
                <img  class="bloque__imagen" src="../img/icono_3.png" alt="porque comprar">
                <h3 class="bloque__titulo">Envío gratis</h3>
                <p>Suspendisse nulla eros, hendrerit vitae luctus vel, dictum a justo.</p>
            </div>
<!-- bloque -->
            <div class="bloque">
                <img  class="bloque__imagen" src="../img/icono_4.png" alt="porque comprar">
                <h3 class="bloque__titulo">La mejor calidad</h3>
                <p>Suspendisse nulla eros, hendrerit vitae luctus vel, dictum a justo. </p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <p class="footer__texto">Front End Store - Todos los derechos reservados 2022.</p>
    </footer>
</body>
</html>